In [3]:
import pandas as pd

data_excel = pd.read_excel('/content/dataset.xlsx')
data_csv = pd.read_csv('/content/dataset.csv')
data_tsv = pd.read_csv('/content/dataset.tsv', sep='\t')

print(data_excel)
print(data_csv)
print(data_tsv)

# Provide the correct raw URL of the CSV file on GitHub
url = 'https://raw.githubusercontent.com/Deekshithpoleboina/AI-ML/main/dataset.csv'
df_url = pd.read_csv(url)
print("\nData from URL:")
print(df_url)

      name  age  height  weight
0  rithwik   19     145      46
1   vishal   21     151      50
2   harsha   25     170      76
3   ramesh   30     163      61
      name  age  height  weight
0  rithwik   19     145      46
1   vishal   21     151      50
2   harsha   25     170      76
3   ramesh   30     163      61
  name,age,height,weight
0      rithwik,19,145,46
1       vishal,21,151,50
2       harsha,25,170,76
3       ramesh,30,163,61

Data from URL:
      name  age  height  weight
0  rithwik   19     145      46
1   vishal   21     151      50
2   harsha   25     170      76
3   ramesh   30     163      61